@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.min.css";

* {
    @apply box-border;
}

body {
    position: relative;
}

.btn-primary {
    @apply bg-primary w-24 rounded-full px-2 py-1 md:px-[25px] md:py-[8px] cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-secondary {
    @apply bg-secondray text-white rounded-full px-[25px] py-[8px] cursor-pointer hover:opacity-70 transition-all;
}

.btn-primary-2 {
    @apply bg-blue-500 text-white rounded-full px-[12px] py-[8px] cursor-pointer hover:opacity-70 transition-all;
}

.btn {
    @apply bg-secondray text-white rounded-full px-[12px] py-[8px] cursor-pointer hover:opacity-70 transition-all;
}

.btn-success {
    @apply bg-success text-white rounded-full px-3 py-1 md:px-4 md:py-2 cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.table_wrapper {
    @apply w-full !overflow-auto whitespace-nowrap;
}

.hover-text:hover span {
    display: block;
}

.card-text {
    @apply text-[16px] px-2;
}

.card-body {
    @apply h-[150px] overflow-hidden;
}

.card-footer {
    @apply mt-4 flex flex-col text-base gap-1 text-gray-500;
}

.card-footer__item {
    @apply flex justify-between items-center text-xs py-2 border-t-2 border-gray-500;
}

.star-active {
    @apply text-yellow-500;
}


.filter-scroll {
    @apply min-h-[90px] max-h-[200px] overflow-x-hidden overflow-y-auto p-2 scroll-m-1;
}

.scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: rgba(107,114,128,0.75) #dfe9eb;
}

.scroll-bar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.scroll-bar::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #060606;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #060606;
}